Django==3.2.4
requests==2.25.1
yahoo-fin==0.8.9.1
celery==5.2.7
redis==3.5.3
django-celery-results==2.0.1
django-celery-beat==2.2.0
channels==3.0.3
channels-redis==3.2.0
asyncio==3.4.3
simplejson==3.17.2